body{
   font-family: "Montserrat";
}

/*---- title------ */
.container-fluid
{
   padding: 1% 10%;
}

#title{
   background-color: #ff4c68;
}

.navbar{
      padding-bottom: 1%;
}
.navbar-brand{
   font-family: "Ubuntu";
   font-size: 2.5rem;
   font-weight: 700;

}
.navbar_padding{
   padding: 0.5% 5% 0 10%;
}
.nav-bar-bg-color{
   background-color: #ff4c68;
}
.nav-item{
   font-size: 1.3rem;
   font-weight: 200;
   padding: 0 18px;
}
.title_ul{
   text-align:right;
}
.title_btn
{
   margin: 2% 5% 0 0;
}
.title-img{
   width: 60%;
   transform: rotate(20deg);
   margin:50px auto;

}
.col_title-image{
   text-align: center;;
}
.col-lg-6-title
{
   padding:5% 1% 0;
}
h1{
   font-family: 'Montserrat', serif;
   font-weight: 900;
   font-size: 3.5rem;
   line-height: 1.5;
   color: #fff;
   padding-top: 15%;
}


@media (max-width:1000px) {
   .row{
      text-align: center;
   }
   .title-img{
      width: 40%;
   }

}

/*-------- features---- */
#features{
   margin:auto;
   text-align: center;
   padding:10% 10%;
}
.col-md-6-features{
   text-align: center;
   padding-left:5%;
   padding-right: 5%;
   line-height:1.5;
}
.feature-icon{
   /* font-size: 3rem; */
   padding-top: 2rem;
   padding-bottom:0.8rem;
   color: #ef8172;
}
.feature-icon:hover{
   color: #ff4c68;
}
.feature-icon-heading{
   font-family: "Montserrat";
   font-weight: 750;
   font-size:1.5rem;
}
.feature-icon-text{
   font-family: "Montserrat";
   font-weight: 700;
   font-size:1.2rem;
   color: #8f8f8f;
}

@media (max-width:1000px) {
   .feature-icon-heading{
      font-size:2rem;
   }
   .feature-icon-text{
      font-size:1.5rem;
   }
   #features{
      margin:auto;
      text-align: center;
      padding:10% 4%;
   }
   .col-md-6-features{
      margin:auto;
      padding: 0 3% 5%;
      line-height:1.5;
   }
}



/* <!-- Testimonials --> */

#testimonials{
   background-color: #ef8172;
   color:#fff;
   text-align:center;
}
.carousel-item{
padding:7% 20%;
}
.testimonial-text{
   text-align:center;
   font-family: "Montserrat";
   font-weight:500;
   font-size: 2em;
   line-height: 1.5;
   padding-bottom: 2rem;
}
.testimonial-image{
   width: 10%;
   border-radius: 100%;

}


@media (max-width:1000px) {
   .testimonial-text{
      font-size: 2.5em;
   }
   .testimonial-image{
      width: 20%;
      border-radius: 100%;
   }
   .feature-img-text
   {
      font-size: 1.5em;
   }
}

   /* <!-- Press --> */
#press{
   padding:5% 1%;
}

.press-image
{
   padding: 1%;
   width: 15%;
}
@media (max-width:1000px) {
   .press-image
   {
      padding: 1%;
      width: 20%;
   }
}



   /* <!-- Pricing --> */
#pricing{
   padding:5% 15%;
   font-family: "Montserrat";
   text-align: center;
   margin:auto;
}
.price-head-h2{
   color: #8f8f8f;
   font-weight: 700;
   padding-top: 5rem;
}
.price-head-p{
   font-size: 1rem;
   font-weight: 500;
   color: #8f8f8f;
}
.col-md-6-price-feature{
margin:auto;
padding:5% 3%;
}
.card-header
{
   background-color: #2772db;
   font-weight: 700;
   font-size: 2rem;
   color: #fff;
}
.card-body{
   background-color: #fafafa;
   font-weight: 600;
   color: #393e46;
}
.price-btn{
   margin-top: 15%;
}


/* <!-- Call to Action --> */
#cta{
   background-color: #ff4c68;
   text-align: center;
   color: #fff;
   font-family: "Montserrat"
}
.download-text{
   font-size: 2.5rem;
   font-weight: 700;
   padding: 8% 3% 5%;
}
.download-btn{
   display: flex;
   justify-content: center;
   padding: 0 3% 8%;
}
.btn_gap{
   margin-left:40px;
}


   /* <!-- Footer --> */
#footer{
   background-color: #ffF;
   color: #8f8f8f;
   text-align: center;
}
.social-handles{
   display: flex;
   justify-content: center;
   padding:5% 5% 1%;
}
.social-handles-gap{
   margin-left: 30px;
}
.copyright-text{
   padding:0 0 5%;
}
